<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/menu.css">
    <link rel="stylesheet" href="../CSS/navbar.css">
    <link rel="stylesheet" href="../CSS/trang-chu.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <title>V-Library</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="../HTML/trang-chu.html"><img src="../IMG/v-lib_logo.png" width="50px"></a>
        </div>
        <!--  -->
        <nav>
            <ul>
                <li><a class="nav-list" href="../HTML/trang-chu.html">Trang Chủ</a></li>
                <li><a class="nav-list" href="../HTML/sach-giao-khoa.html">Sách Giáo Khoa</a></li>
                <li><a class="nav-list" href="../HTML/thu-vien.html">Thư Viện</a></li>
                <li><a class="nav-list" href="">Về Chúng Tôi</a></li>
            </ul>
        </nav>
        <!--  -->
        <nav>
            <ul>
                <!-- <li><a class="nav-list" href="../HTML/register_login.html">Login / Logout</a></li> -->
                <a href="../HTML/dangky-dangnhap.html"><img src="../IMG/account.png" width="50px"></a>
            </ul>
        </nav>
    </div>
    <!-- -------------------------------------------------------------------------------------------- -->
    <!-- <div class="recommended">
        <h1 class="categories"></h1>
        <div class="lst-sgk">
            <div class="sgk ket-noi-tri-thuc">
                <a href="../HTML/sach-giao-khoa.html"><img src="../IMG/ket-noi-tri-thuc.png" alt="" width="200px"></a>
            </div>
            <div class="sgk canh-dieu">
                <a href="../HTML/sach-giao-khoa.html"><img src="../IMG/canh-dieu-logo.png" alt="" width="200px"></a>
            </div>
            <div class="sgk chan-troi-sang-tao">
                <a href="../HTML/sach-giao-khoa.html"><img src="../IMG/chan-troi-sang-tao.png" alt="" width="200px"></a>
            </div>
        </div>
    </div> -->
    <div class="recommend">
        <h2 class="recommend-title">Những Loại Sách Giáo Khoa Nổi Bật</h2>
        <div class="list">
            <div class="sgk ket-noi-tri-thuc">
                <a href="../HTML/Ket Noi Tri Thuc/KET-NOI-TRI-THUC.html"><img src="../IMG/ket-noi-tri-thuc.png" alt="" width="200px"></a>
            </div>
            <div class="sgk canh-dieu">
                <a href="../HTML/Canh Dieu/canh-dieu-lop.html"><img src="../IMG/canh-dieu-logo.png" alt="" width="200px"></a>
            </div>
            <div class="sgk chan-troi-sang-tao">
                <a href="../HTML/Chan Troi Sang Tao/CHAN-TROI-SANG-TAO.html"><img src="../IMG/chan-troi-sang-tao.png" alt="" width="200px"></a>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------- -->
    <div class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>FIND A STORE</h4>
                    <ul>
                        <li><a href="">BECOME A MEMBER</a></li>
                        <li><a href="">SIGN UP FOR EMAIL</a></li>
                        <li><a href="">SIGN UP FOR FACEBOOK</a></li>
                        <li><a href="">SEND US FEEDBACK</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>GET HELP</h4>
                    <ul>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Delivery</a></li>
                        <li><a href="">Returns</a></li>
                        <li><a href="">Payment Options</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ABOUT NIKE</h4>
                    <ul>
                        <li><a href="">News</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Investors</a></li>
                        <li><a href="">Sustainability</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>CONTACT US</h4>
                    <div class="social-links">
                        <a href="#"><img src="../IMG/facebook-icon.png" width="30px"></a>
                        <a href="#"><img src="../IMG/instagram-icon.png" width="30px"></a>
                        <a href="#"><img src="../IMG/twitter-icon.webp" width="30px"></a>
                        <a href="#"><img src="../IMG/youtube-icon.png" width="30px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>